/* FS PUBLISHER - WYSIWYG STYLESHEET - UPDATED 11-12-2008 */
/*! /* TinyMCE Style: callOut=Call Out */
.fontColor000000 { color: #000; }
.fontColorC0C0C0 { color: #C0C0C0; }
.fontColor000080 { color: #000080; }
.fontColor008000 { color: #008000; }
.fontColor008080 { color: #008080; }
.fontColor800000 { color: #800000; }
.fontColor800080 { color: #800080; }
.fontColor808000 { color: #808000; }
.fontColor808080 { color: #808080; }
.fontColorFFFFFF { color: #FFF; }
.fontColor0000FF { color: #00F; }
.fontColor00FF00 { color: #0F0; }
.fontColor00FFFF { color: #0FF; }
.fontColorFF0000 { color: #F00; }
.fontColorFF00FF { color: #F0F; }
.fontColorFFFF00 { color: #FF0; }

.backgroundColor000000 { background: #000; }
.backgroundColorC0C0C0 { background: #C0C0C0; }
.backgroundColor000080 { background: #000080; }
.backgroundColor008000 { background: #008000; }
.backgroundColor008080 { background: #008080; }
.backgroundColor800000 { background: #800000; }
.backgroundColor800080 { background: #800080; }
.backgroundColor808000 { background: #808000; }
.backgroundColor808080 { background: #808080; }
.backgroundColorFFFFFF { background: #FFF; }
.backgroundColor0000FF { background: #00F; }
.backgroundColor00FF00 { background: #0F0; }
.backgroundColor00FFFF { background: #0FF; }
.backgroundColorFF0000 { background: #F00; }
.backgroundColorFF00FF { background: #F0F; }
.backgroundColorFFFF00 { background: #FF0; }
