<!DOCTYPE html>
<!--[if lte IE 7]><html id="ie" class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if IE 8]><html id="ie8" class="no-js lt-ie10 lt-ie9" lang="en" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if IE 9]><html id="ie9" class="no-js lt-ie10" lang="en" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="dns-prefetch" href="//ajax.googleapis.com" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="../css/site.css"/>
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" />
	<link rel="apple-touch-icon" href="../images/apple-touch-icon.png"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<!--[if lt IE 9]>
		<script src="/includes/scripts/html5Shiv-3.6.2.js"></script>
	<![endif]-->
	<!-- <#assign SEMFirmNameAlt = " - ${site.data.SEMFirmNameAlt}">
    <#if site.data.SEMFirmNameAlt = "">
        <#assign SEMFirmNameAlt = "">
    </#if> -->
</head>
<body class="design home">
	<div class="container-banner-wrap">
		<header>
			<a href="javascript:void(0);" class="btn-menu"><span></span></a>
			<div class="main-side-bar">
				<nav class="main-menu">
					<ul>
						<li><a href="#">menu1</a></li>
						<li><a href="#">menu1</a></li>
						<li><a href="#">menu1</a></li>
						<li><a href="#">menu1</a></li>
						<li><a href="#">menu1</a></li>
						<li><a href="#">menu1</a></li>
					</ul>
				</nav>
			</div>
			<div class="container-content">
				<h1 class="page-title">We’re looking for light in Passion Flower </h1>
				<a href="javascript:void(0);" class="btn-scroll-down"><img src="../images/icon-down.png" alt="Icon scroll down" />Scroll</a>
			</div>
		</header>
	</div>
	<div class="main-content-wrap">
		<div class="container-content content">
			<div class="content-left">
				<span>overview</span>
				<h2>Passion Flower 107x</h2>
			</div>
			<div class="content-right">
				<p>An inner unrest is afoot and with it, a journey of self discovery. Ready to shed our inhibitions, we’re in search of clarity — as a collective and as individuals. Looking at the past and the future in equal measure, like memories pressed in glowing amber, we are retelling our own tales. The urgent need to reach out is seeing a move to connect beyond the filtered frames of social media. We’re opening up ourselves to others, and our minds to thei</p>
				<p>An inner unrest is afoot and with it, a journey of self discovery. Ready to shed our inhibitions, we’re in search of clarity — as a collective and as individuals. Looking at the past and the future in equal measure, like memories pressed in glowing amber, we are retelling our own tales. The urgent need to reach out is seeing a move to connect beyond the filtered frames of social media. We’re opening up ourselves to others, and our minds to theirs.</p>
			</div>
		</div>
	</div>
	<div class="img-container-wrap">
		<div class="img-container container-content">
			<h2>It’s amber glow, quietly receptive in the day, and reflective in the shade</h2>
			<div class="img-box-left">
				<img src="../images/img-left.jpg" />
				<span>image by laura crawford</span>
			</div>
			<div class="img-box-right">
				<img src="../images/img-main.jpg" />
				<span>image by laura crawford</span>
				<div class="img-box-bottom">
					<img src="../images/img-bottom.jpg" />
					<span>image by laura crawford</span>
				</div>
			</div>
		</div>		
	</div>
	<footer class="container-content"></footer>
	<!--[if lt IE 9]>
		<script src="/includes/scripts/respond-1.1.0.js"></script>
	<![endif]-->
	<script src="../scripts/init.js"></script>
</body>
</html>